apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-cloud-init
  namespace: {{ .Values.vm.namespace }}
stringData:
  userData: |-
    #cloud-config
    users:
      - name: {{ .Values.ssh.user }}
        sudo: ALL=(ALL) NOPASSWD:ALL
        groups: users,wheel
        ssh_authorized_keys:
          - {{ .Values.ssh.publicKey }}
    packages:
      - wget
      - unzip

    runcmd:
      - |
        set -ex
        # Install step-ca
        STEP_CLI_VERSION={{ .Values.versions.stepCli }}
        STEP_CA_VERSION={{ .Values.versions.stepCa }}

        wget https://github.com/smallstep/cli/releases/download/v${STEP_CLI_VERSION}/step_linux_${STEP_CLI_VERSION}_amd64.tar.gz
        wget https://github.com/smallstep/certificates/releases/download/v${STEP_CA_VERSION}/step-ca_linux_${STEP_CA_VERSION}_amd64.tar.gz
        tar -xvf step_linux_${STEP_CLI_VERSION}_amd64.tar.gz
        tar -xvf step-ca_linux_${STEP_CA_VERSION}_amd64.tar.gz
        mv step-${STEP_CLI_VERSION}/bin/step /usr/local/bin/
        mv step-ca-${STEP_CA_VERSION}/bin/step-ca /usr/local/bin/
        rm -rf step_linux_${STEP_CLI_VERSION}_amd64.tar.gz step-ca_linux_${STEP_CA_VERSION}_amd64.tar.gz step-${STEP_CLI_VERSION} step-ca-${STEP_CA_VERSION}

        # Create step user
        useradd -r -d /etc/step-ca -s /bin/false step

        # Initialize step-ca
        step ca init --name="{{ .Values.stepCa.name }}" --provisioner="{{ .Values.stepCa.provisioner.name }}" --dns="{{ .Values.stepCa.dns }}" --address="{{ .Values.stepCa.address }}" --password-file <(echo "{{ .Values.stepCa.password }}") --provisioner-password-file <(echo "{{ .Values.stepCa.provisioner.password }}")

        # Create systemd service
        cat <<EOF > /etc/systemd/system/step-ca.service
        [Unit]
        Description=step-ca
        After=network.target

        [Service]
        Type=simple
        User=step
        Group=step
        ExecStart=/usr/local/bin/step-ca /etc/step-ca/config/ca.json --password-file <(echo "{{ .Values.stepCa.password }}")
        Restart=on-failure

        [Install]
        WantedBy=multi-user.target
        EOF

        # Start step-ca service
        systemctl daemon-reload
        systemctl enable --now step-ca
  {{- if .Values.vm.network.staticIP.enabled }}
  networkData: |
    version: 2
    ethernets:
      eth0:
        dhcp4: no
        addresses:
          - {{ .Values.vm.network.staticIP.ip }}
        gateway4: {{ .Values.vm.network.staticIP.gateway }}
        nameservers:
          addresses:
          {{- range .Values.vm.network.staticIP.dns }}
            - {{ . }}
          {{- end }}
  {{- end }}
