{{- $root := . -}}
{{- $mlb := .Values.metallb | default dict -}}
{{- $pools := $mlb.addressPools | default list -}}
{{- $targetNS := $mlb.namespace | default "metallb-system" -}}
{{- if and ($mlb.enabled | default false) (gt (len $pools) 0) }}
{{- range $idx, $pool := $pools }}
{{- $poolName := $pool.name | default (printf "%s-pool-%d" (include "rke2-harvester.fullname" $root) (add $idx 1)) -}}
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ $poolName }}
  namespace: {{ $targetNS }}
spec:
  addresses:
{{- range $addr := $pool.addresses | default list }}
    - {{ $addr }}
{{- end }}
{{- if hasKey $pool "autoAssign" }}
  autoAssign: {{ $pool.autoAssign }}
{{- end }}
{{- if hasKey $pool "avoidBuggyIPs" }}
  avoidBuggyIPs: {{ $pool.avoidBuggyIPs }}
{{- end }}
{{- if $pool.ipAddressPoolSpec }}
{{ toYaml $pool.ipAddressPoolSpec | indent 2 }}
{{- end }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: {{ printf "%s-l2" $poolName | trunc 63 | trimSuffix "-" }}
  namespace: {{ $targetNS }}
spec:
  ipAddressPools:
    - {{ $poolName }}
{{- if $pool.interfaces }}
  interfaces:
{{- range $iface := $pool.interfaces }}
    - {{ $iface }}
{{- end }}
{{- end }}
{{- if $pool.l2AdvertisementSpec }}
{{ toYaml $pool.l2AdvertisementSpec | indent 2 }}
{{- end }}
{{- end }}
{{- end }}
