{{- $rm := .Values.rancherManager | default dict -}}
{{- $targetNS := $rm.namespace | default "cattle-system" -}}
{{- if and ($rm.enabled | default false) $targetNS }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ $targetNS }}
  labels:
    app.kubernetes.io/managed-by: {{ include "rke2-harvester.name" . }}
{{- end }}
