apiVersion: v1
kind: Secret
metadata:
  name: rancher-mgr-cloud-config
  namespace: hvst-mgmt
type: kubevirt.io/cloud-config
stringData:
  userdata: |-
    #cloud-config
    hostname: rancher-mgr-vm
    manage_etc_hosts: true
    package_update: true
    packages:
      - dnf-plugins-core
      - qemu-guest-agent
      - iptables
      - ipset
      - conntrack-tools
      - ethtool
      - socat
      - ebtables
    write_files:
      - path: /etc/docker/daemon.json
        permissions: '0644'
        owner: root:root
        content: |
          {
            "bridge": "none",
            "iptables": false,
            "ip-masq": false
          }
      - path: /etc/modules-load.d/k3s.conf
        permissions: '0644'
        owner: root:root
        content: |
          nf_tables
          ip_tables
          iptable_filter
          iptable_nat
          nf_nat
          nf_conntrack
          br_netfilter
          overlay
      - path: /etc/sysctl.d/99-k3s.conf
        permissions: '0644'
        owner: root:root
        content: |
          net.bridge.bridge-nf-call-iptables = 1
          net.ipv4.ip_forward = 1
    ssh_pwauth: true
    chpasswd:
      list: |
        rocky:rocky2025
      expire: false
    runcmd:
      - modprobe nf_tables || true
      - modprobe ip_tables || true
      - modprobe iptable_filter || true
      - modprobe iptable_nat || true
      - modprobe nf_nat || true
      - modprobe nf_conntrack || true
      - modprobe br_netfilter || true
      - modprobe overlay || true
      - sysctl -w net.bridge.bridge-nf-call-iptables=1
      - sysctl -w net.ipv4.ip_forward=1
      - sysctl --system || true
      - systemctl enable --now sshd
      - systemctl disable --now firewalld || true
      - nmcli connection reload || true
      - nmcli connection delete "eth0" || true
      - nmcli connection delete "Wired connection 1" || true
      - nmcli connection add type ethernet ifname eth0 con-name eth0 autoconnect yes ipv4.addresses "172.16.3.5/24" ipv4.gateway "172.16.3.1" ipv4.dns "172.16.3.1 1.1.1.1" ipv4.method manual ipv6.method ignore
      - nmcli connection up eth0 || true
      - dnf config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
      - dnf -y install docker-ce docker-ce-cli containerd.io
      - systemctl enable --now docker
      - systemctl enable --now qemu-guest-agent
      - sudo usermod -aG docker rocky
      - sudo docker pull rancher/rancher:v2.13.0
      - sudo docker run -d --network host --restart=unless-stopped --privileged -e CATTLE_BOOTSTRAP_PASSWORD=changeme --name rancher rancher/rancher:v2.13.0 sh -c "zypper -n in iptables ipset conntrack-tools ethtool socat ebtables || true; exec /usr/bin/entrypoint.sh"
    ssh_pwauth: false
    users:
      - name: rocky
        passwd: rocky2025
        groups: [wheel]
        sudo: ["ALL=(ALL) NOPASSWD:ALL"]
        ssh_authorized_keys:
          - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK6LbWP3r925P5b+vFcbldXIppYkWgOsqtG6KBINXSEp jruds@ag-mbp.local
    disable_root: false
    hostname: rancher-mgr
    fqdn: rancher.aegisgroup.ch
  networkdata: |-
    version: 2
    ethernets:
      eth0:
        match:
          macaddress: 02:de:ad:be:ef:02
        set-name: eth0
        dhcp4: false
        dhcp6: false
        addresses:
          - 172.16.3.5/24
        gateway4: 172.16.3.1
        nameservers:
          addresses:
            - 172.16.3.1
