{{- if .Values.traefik.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-traefik
  namespace: {{ .Release.Namespace }}
  labels:
    app: traefik
  annotations:
{{- range $k, $v := .Values.traefik.service.annotations }}
    {{ $k }}: {{ $v | quote }}
{{- end }}
spec:
  type: {{ .Values.traefik.service.type }}
  selector:
    app: traefik
  ports:
  - name: web
    port: 80
    targetPort: web
  - name: websecure
    port: 443
    targetPort: websecure
  {{- if and (eq .Values.traefik.service.type "LoadBalancer") .Values.traefik.service.loadBalancerIP }}
  loadBalancerIP: {{ .Values.traefik.service.loadBalancerIP | quote }}
  {{- end }}
{{- end }}
