apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: vm-network
  namespace: default
  labels:
    network.harvesterhci.io/clusternetwork: mgmt
    network.harvesterhci.io/type: L2VlanNetwork
    network.harvesterhci.io/vlan-id: "12"
spec:
  config: |
    {
      "cniVersion": "0.3.1",
      "name": "vm-network",
      "type": "bridge",
      "bridge": "mgmt-br",
      "promiscMode": true,
      "vlan": 12,
      "ipam": {}
    }
# ---
# apiVersion: k8s.cni.cncf.io/v1
# kind: NetworkAttachmentDefinition
# metadata:
#   name: vlan1003
#   namespace: hvst-mgmt
#   labels:
#     network.harvesterhci.io/clusternetwork: mgmt
#     network.harvesterhci.io/type: L2VlanNetwork
#     network.harvesterhci.io/vlan-id: "1003"
# spec:
#   config: |
#     {
#       "cniVersion": "0.3.1",
#       "name": "vlan1003",
#       "type": "bridge",
#       "bridge": "mgmt-br",
#       "promiscMode": true,
#       "vlan": 1003,
#       "ipam": {}
#     }
