apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-server-config
  namespace: {{ .Release.Namespace }}
data:
  server.yaml: |
    log-file: /var/log/deepflow/server.log
    log-level: info
    controller:
      election-name: {{ .Release.Name }}-server
      election-namespace: {{ .Release.Namespace }}
      grpc-max-message-length: 104857600
      grpc-port: 20035
      kubeconfig:
      listen-port: {{ .Values.deepflow.ports.data }}
      clickhouse:
        database: flow_tag
        endpoint-tcp-port-name: native
        host: {{ .Release.Name }}-clickhouse
        port: 9000
        user-name: default
        user-password:
      mysql:
        database: {{ .Values.mysql.dbName }}
        host: {{ .Release.Name }}-mysql
        port: 3306
        timeout: 30
        user-name: {{ .Values.mysql.user }}
        user-password: {{ .Values.mysql.password }}
      trisolaris:
        trident-type-for-unknow-vtap: 3
        chrony:
          host: ntp.aliyun.com
          port: 123
          timeout: 1
    ingester:
      es-syslog: false
      ckdb:
        cluster-name: default
        endpoint-tcp-port-name: native
        external: false
        host: {{ .Release.Name }}-clickhouse
        port: 9000
        storage-policy: default
        type: clickhouse
      ckdb-auth:
        password:
        username: default
    querier:
      listen-port: {{ .Values.deepflow.ports.querier }}
      clickhouse:
        database: flow_tag
        host: {{ .Release.Name }}-clickhouse
        port: 9000
        timeout: 60
        user-name: default
        user-password:
      deepflow-app:
        host: {{ .Release.Name }}-app
        port: 20418
    controller-ips:
      - {{ .Release.Name }}-server
    controller-port: 20035
